@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto/roboto.woff2"),
         url("../fonts/roboto/roboto.woff");
    font-weight: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto/robotobold.woff2"),
         url("../fonts/roboto/robotobold.woff");
    font-weight: bold;
}

body {
    margin: 0;
    padding: 0;
    
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
    text-transform: none;
    background-color: #849d8f;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.button {
    font: inherit;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    
    padding-top: 10px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-left: 22px;
    
    text-align: center;
    color: #ffffff;
    text-transform: none;
    
    background-color: #ec583c;
    background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    border: none;
    
    border-radius: 23px;
    
    box-shadow: 0 2px 2px #ac1000;
}

.slide-button {
    font-size: 32px;
    line-height: 44px;
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

.button:hover {
    background-color: #f07963;
    box-shadow: 0 2px 2px #ac1000;
}

.button:active {
    background-color: #ec583c;
    box-shadow: inset 0 2px 2px #942718;
    background-image: linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);

}

.slider ul {
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.slider-item {
    font-size: 60px;
    line-height: 60px;
    text-align: center;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.site-wrapper {
    min-width: 940px;
    background-color: #849d8f;
    background-image: url("../img/background-1.png");
    background-position: top center;
    background-repeat: no-repeat;
    
    transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper:before,
.site-wrapper:after {
    content: "";
    
    visibility: hidden;
}

.site-wrapper:before {
    background-image: url("../img/background-2.png");
}

.site-wrapper:after {
    background-image: url("../img/background-3.png");
}

.slider {
    position: relative;
    
    text-align: center;
    color: #ffffff;
}

.slider-list {
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.slide-title {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 33px;
    
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
}

.slide-button {
    display: inline-block;
    padding: 10px 40px;
    
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    color: #ffffff;
    vertical-align: top;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    
    background: #f26843;
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 50px;
    
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    border: none;

    cursor: pointer;
}

.button:hover {
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
    background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
    position: absolute;
    bottom: 24px;
    left: 0;
    z-index: 20;
    
    font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:hover {
    background-color: rgba(248, 247, 244, 0.4);
}

#product-1:checked ~ .site-wrapper {
    background-color: #849d8f;
    background-image: url("../img/background-1.png");
}

#product-2:checked ~ .site-wrapper {
    background-color: #8996a6;
    background-image: url("../img/background-2.png");
}

#product-3:checked ~ .site-wrapper {
    background-color: #9d8b84;
    background-image: url("../img/background-3.png");
}

.slide {
    display: none;
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
    display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
    background-color: #ffffff;;
}

.main-menu ul {
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.main-menu a {
    color: #ffffff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.main-menu {
    font-size: 16px;
    line-height: 18px;
}

.main-menu-link:hover {
    color: #000000;
    
    background-color: #f8f7f4;
}

.main-menu-link:active {
    color: #000000;
    
    background-color: #f8f7f4;
    
    box-shadow: inset 0px 2px 1px 0px #696969;
}

.main-menu-modal {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    
    background-color: #f8f7f4;
    
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.main-menu-modal a:not(.main-menu-current) {
    color: #000000;
}

.main-menu-modal li:hover {
    background-color: #fbded7;
}

.main-menu-modal li:active {
    background-color: #f6b5a5;
}

.shop-menu {
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.shop-menu a {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.2);
}

.shop-menu-link:hover {
    color: #000000;
    
    background-color: #f8f7f4;
}

.shop-menu-modal {    
    background-color: #f8f7f4;
    
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.modal-search {
    font-size: 14px;
    line-height: 24px;
}

.modal-search input {
    font-family: inherit;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    
    background-color: #ffffff;
    
    border: 1px solid #d3d3d2;
    border-radius: 5px;
}

.modal-search input:hover {
    font-family: inherit;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    
    background-color: #ffffff;
    
    border: 2px solid #c7c6c5;
    border-radius: 5px;
}

.modal-search input:focus {
    font-family: inherit;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    
    background-color: #ffffff;
    
    border: 2px solid #8fbdec;
    border-radius: 5px;
    
    outline: 0;
}


/*Не получатес язадать жирный шрифт в поле, когда текст введен*/


.modal-login form {
    font-size: 14px;
    line-height: 24px;
}

.modal-login input {
    font-family: inherit;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    
    background-color: #ffffff;
    
    border: 1px solid #d3d3d2;
    border-radius: 5px;
}

.modal-login input:hover {
    font-family: inherit;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    
    background-color: #ffffff;
    
    border: 2px solid #c7c6c5;
    border-radius: 5px;
}

.modal-login input:focus {
    font-family: inherit;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    
    background-color: #ffffff;
    
    border: 2px solid #8fbdec;
    border-radius: 5px;
    
    outline: 0;
}

.login-password-info a {
    font-size: 13px;
    font-weight: 600;
    
    color: #000000;
    
    border-bottom: 1px solid #000000;
}

.time-and-phone {
    font-size: 14px;
    line-height: 16px;
    text-align: right;
}

.phone {
    color: #ffffff;
    
    font-size: 22px;
    line-height: 24px;
}

.banners h3 {
    font-size: 35px;
    line-height: 41px;
    padding: 0;
    margin: 0;
}

.banners p {
    font-size: 18px;
    line-height: 22px;
}

.banner-raspberries {
    color: #ffffff;
    
    background-color: #5d1121;
    background-image: url("../img/raspberries.jpg");
    background-repeat: no-repeat;
}

.banner-chocolate {
    color: #ffffff;
    
    background-color: #42271b;
    background-image: url("../img/chocolate.jpg");
    background-repeat: no-repeat;
}

.catalog ul {
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.catalog a:not(.button) {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    
    color: #ffffff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.catalog a:hover:not(.button),
.catalog a:active:not(.button) {
    color: #ffbc9e;
    border-bottom: 1px solid #ffbc9e;
}

.product {
    width: 267px;
}

.product-price {
    position: absolute;
    bottom: 9px;
    left: 0;
    z-index: 3;
    
    font-size: 45px;
    line-height: 45px;
    text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.product-image {
    position: relative;
    z-index: 2;
    
    margin-bottom: 14px;
}

.product-price span {
    font-size: 30px;
}

.catalog-item img {
    border-radius: 50%;
}

.catalog .product {
    position: relative;
}

.product:hover .product-hover{
    opacity: 1;
}

.product-hover {
    position: absolute;
    top: -6px;
    left: -13px;
    z-index: 1;
    opacity: 0;
    
    padding-top: 11px;
    padding-left: 13px;
    padding-right: 13px;
    padding-bottom: 70px;
    
    width: 100%;
    height: 405px;
    
    text-align: center;
    
    background-color: rgba(248, 247, 244, 0.2);
    
    border-radius: 5px;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.product-hover .button {
    position: absolute;
    bottom: 22px;
    
    border-radius: 18px;
    transform: translate(-50%,0);
    white-space: nowrap;
}

.features ul {
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.features li {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}

.features b {
    font-size: 24px;
    line-height: 30px;
}

.features {
    color: #000000;
    
    background-color: #e0d4bc;
    background-image: url("../img/waffle.jpg");
    background-position: top center;
    background-repeat: repeat-x;
    
}

.new-blog {    
    color: #000000;
    
    background-color: #ffffff;
    background-image: url("../img/strawberry.jpg");
    background-repeat: no-repeat;
}

.new-blog span {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;    
}

.new-blog a {
    color: #000000;
    
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    
    border-bottom: 2px solid #000000;
}


.dispatch {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    
    color: #000000;
    
    background-color: #f0efed;
}

.dispatch input {
    font-family: inherit;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    
    background-color: #ffffff;
    
    border: 1px solid #d3d3d2;
    border-radius: 5px;
}

.dispatch input:hover {
    font-family: inherit;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    
    background-color: #ffffff;
    
    border: 2px solid #c7c6c5;
    border-radius: 5px;
}

.dispatch input:focus {
    font-family: inherit;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    
    background-color: #ffffff;
    
    border: 2px solid #8fbdec;
    border-radius: 5px;
    
    outline: 0;
}


.contacts {
    color: #000000;
    
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    
    background-color: #fefefe;
}

.contacts b {
    font-size: 18px;
    line-height: 24px;
}

.contact-phone a {
    color: #000000;
}

.footer a {
    color: #ffffff;
}

.footer-social {
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.footer-social a {
    background-color: #e6ebe9;
    border: 5px solid rgba(255, 255, 255, 0.5);
}

.footer-social a:hover {
    background-color: #ffffff;
    
}

.footer-menu {
    margin: 0;
    padding: 0;
    
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    
    list-style: none;
}

.footer-menu a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-menu a:hover {
    color: #ffbc9e;
    border-bottom: 1px solid #ffbc9e;
}

.footer-copyright {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}

.footer-copyright .copyright-link {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-copyright .copyright-link:hover {
    color: #ffbc9e;
    border-bottom: 1px solid #ffbc9e;
}

.modal-feedback {
    background-color: #f8f7f4;
}


.modal-feedback h3 {
    font-size: 24px;
    line-height: 28px;
}

.feedback-form input {
    font-family: inherit;
    font-size: 16px;
    line-height: 24px;
}

.feedback-form input,
.feedback-form textarrea {
    font-family: inherit;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    
    background-color: #ffffff;
    
    border: 1px solid #d3d3d2;
    border-radius: 5px;
}

.feedback-form input:hover,
.feedback-form textarrea {
    font-family: inherit;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    
    background-color: #ffffff;
    
    border: 2px solid #c7c6c5;
    border-radius: 5px;
}

.feedback-form input:focus,
.feedback-form textarrea {
    font-family: inherit;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    
    background-color: #ffffff;
    
    border: 2px solid #8fbdec;
    border-radius: 5px;
    
    outline: 0;
}

/*
textarrea и бордер радиус
*/

/*----------------------------------------------*/

.main-menu-current {
    color: #ffffff;
    background-color: #d07058;
}

/*
Не получается переопределить ховер для каталога

.main-menu-current:hover,
.main-menu-current:active {
    background-color: #000000;
}
*/

.basket-full {
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    
    color: #000000;
    
    background-color: #f7f6f3;
}

.modal-basket {
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    
    color: #000000;
}

.modal-basket img {
    border-radius: 50%;
}

.modal-basket h2 {
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
}

.basket-product-price {
    color: #999999;
}

.modal-basket .total {
    text-align: right;
    
    font-size: 15px;
    line-height: 18px;
}

.filtres-button {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    
    color: #ffffff;
    
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid #ffffff;
}

.filtres-button:hover {
    color: #000000;
    
    background-color: #fbfcfb;
}

.filtres-button:active {
    color: #000000;
    
    background-color: #eaeaea;
    box-shadow: inset 0px 2px 1px 0px #8a8b8a;
}

.breadcrumbs {
    margin: 0;
    padding: 0;
    
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    list-style: none;
}

.breadcrumbs a {
    color: #ffffff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.filters fieldset {
    border: none;
}

.filter legend {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
}

.filter select {
    font-weight: 600;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.2);
}

.filter select:hover {
    color: #000000;
}

.range-price {
    font-weight: 400;
}

.range {
    background-color: rgba(255, 255, 255, 0.2);
}

.filter ul {
    margin: 0;
    padding: 0;
    
    font-weight: 600;
    list-style: none;
}

.filter-item {
    background-color: rgba(255, 255, 255, 0.2);
}

.pagination-list {
    margin: 0;
    padding: 0;
    
    color: #ffffff;
    list-style: none;
}

.pagination-list a {
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
    
    color: #ffffff;
}

.pagination-list a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.pagination-list a:active {
    color: #000000;
    background-color: #ffffff;
}


/*-----------Сеточные стили-------------*/


.modal-card,
.modal-search,
.modal-login,
.modal-basket,
.modal-feedback {
    display: none;
}

/*
.header {
    margin-bottom: 530px;
    
}
*/

.header-logo {
    width: 154px;
    height: 64px;
}

.main-menu {
    width: 678px; 
}

.shop-menu {
    width: 267px;
    margin-left: auto;
}

.header-wrapper {
    display: flex;
    width: 100%;
}

.container {
    width: 1146px;
    margin: 0 auto;
    padding: 0 27px;
}


.index-columns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.banners {
    margin-bottom: 40px;
}

.banner {
    width: 560px;
    height: 230px;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    justify-content: space-between;
}

.inner-page .header-logo {
    margin-bottom: 27px;
}

.features {
    margin-bottom: 40px;
}

.new-blog {
    width: 560px;
}

.dispatch {
    width: 560px;
}

.map-image {
    width: 100%;
}

.contacts {
    width: 302px;
}

.footer {
    margin-top: 18px;
}

.footer-wrapper {
    display: flex;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-social {
    width: 187px;
    margin-right: 212px;
}

.footer-menu {
    width: 454px;
}

.footer-copyright {
    width: 267px;
    margin-left: auto;
    text-align: right;
}

.inner-page .header {
    margin-bottom: 0;
}

.breadcrumbs {
    width: 267px;
    margin-bottom: 12px;
}

.page-title {
    margin-bottom: 26px;
}

.sort-filter {
    width: 194px;
}

.range-filter {
    width: 218px;
}

.fat-filter {
    width: 415px;
}

.items-filter {
    width: 704px;
}

.filtres-button {
    width: 147px;
}

.filter-wrapper {
    display: flex;
}

.pagination-list {
    text-align: right;
    margin-bottom: 25px;
}

/*баннеры*/

.header {
    margin-bottom: 273px;
}

.slider {
    margin-bottom: 40px;
}

.banner {
    position: relative;
    width: 560px;
    min-height: 228px;
    padding-top: 16px;
    padding-right: 21px;
    padding-left: 18px;
    font-size: 18px;
    box-sizing: border-box;
    border-radius: 15px;
}

.banners h3 {
    font-size: 35px;
    line-height: 41px;
    margin-bottom: 16px;
    margin-top: 0;
}

.banners p {
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 18px;
    line-height: 22px;
}

.banners .button {
    position: absolute;
    right: 20px;
    bottom: 24px;
    
    padding-top: 10px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-left: 22px;
    
    border-radius: 23px;
    
}

.features {
    width: 100%;
    position: relative;
    
    padding-top: 26px;
    padding-right: 30px;
    padding-left: 20px;
    margin-bottom: 38px;
    
    box-sizing: border-box;
    
    border-radius: 15px;
}

.features ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.features .features-title {
    font-size: 24px;
    line-height: 30px;;
    font-weight: 400px;
    margin-top: 0;
    margin-bottom: 22px;
}

.features li {
    position: relative;
    width: 540px;
    margin-bottom: 24px;
    padding-left: 57px;
    
    box-sizing: border-box;
}

.features p {
    margin: 0;
}