@font-face {
	font-family: "Roboto";
	src: url("../fonts/roboto/roboto.woff2"), url("../fonts/roboto/roboto.woff");
	font-weight: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/roboto/robotobold.woff2"), url("../fonts/roboto/robotobold.woff");
	font-weight: 700;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 1.2;
	font-weight: 700;
	color: #ffffff;
	text-transform: none;
}

.inner-page {
	background-color: #849d8f;
}

.inner-page .header-logo {
	margin-bottom: 0;
}

.inner-page .header {
	margin-bottom: -15px;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.page-title {
	font-size: 35px;
	line-height: 41px;
	margin: 0;
	margin-bottom: 29px;
}

.button {
	font: inherit;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	padding-top: 10px;
	padding-right: 24px;
	padding-bottom: 12px;
	padding-left: 22px;
	text-align: center;
	color: #ffffff;
	text-transform: none;
	background-color: #ec583c;
	background-image: -webkit-gradient( linear, left top, right top, from(rgb(231, 74, 53)), to(rgb(242, 104, 67)));
	background-image: -webkit-linear-gradient( left, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
	background-image: -o-linear-gradient( left, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
	background-image: linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
	border: none;
	border-radius: 23px;
	-webkit-box-shadow: 0 2px 2px #ac1000;
	        box-shadow: 0 2px 2px #ac1000;
}

.modal-feedback-show {
	display: block;
}

.container {
	width: 1146px;
	margin: 0 auto;
	padding: 0 27px;
}

.index-columns {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-bottom: 40px;
}

.header {
	padding-top: 9px;
	margin-bottom: 276px;
}

.header-logo {
	width: 154px;
	height: 64px;
}

.header-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	width: 100%;
	margin: 0;
}

.slider {
	margin-bottom: 42px;
}

.slide-button {
	font-size: 32px;
	line-height: 44px;
	text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

.button:hover {
	background-color: #f07963;
	-webkit-box-shadow: 0 2px 2px #ac1000;
	        box-shadow: 0 2px 2px #ac1000;
}

.button:active {
	background-color: #ec583c;
	-webkit-box-shadow: inset 0 2px 2px #942718;
	        box-shadow: inset 0 2px 2px #942718;
	background-image: -webkit-gradient( linear, left top, right top, from(rgb(242, 104, 67)), to(rgb(231, 74, 53)));
	background-image: -webkit-linear-gradient( left, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
	background-image: -o-linear-gradient( left, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
	background-image: linear-gradient( 90deg, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
}

.slider ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.slider-item {
	font-size: 60px;
	line-height: 60px;
	text-align: center;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	        clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.site-wrapper {
	min-width: 1200px;
	background-color: #849d8f;
	background-image: url("../img/background-1.png");
	background-position: top center;
	background-repeat: no-repeat;
	-webkit-transition: background-image 0.5s ease, background-color 0.5s ease;
	-o-transition: background-image 0.5s ease, background-color 0.5s ease;
	transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper:before,
.site-wrapper:after {
	content: "";
	visibility: hidden;
}

.site-wrapper:before {
	background-image: url("../img/background-2.png");
}

.site-wrapper:after {
	background-image: url("../img/background-3.png");
}

.slider {
	position: relative;
	text-align: center;
	color: #ffffff;
}

.slider-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.slide-title {
	width: 700px;
	margin: 0 auto;
	margin-bottom: 33px;
	font-size: 60px;
	line-height: 60px;
	font-weight: 700;
}

.slide-button {
	display: inline-block;
	padding: 10px 40px;
	font-weight: 600;
	font-size: 32px;
	line-height: 44px;
	text-align: center;
	color: #ffffff;
	vertical-align: top;
	text-decoration: none;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
	background: #f26843;
	background: -webkit-gradient(linear, left top, left bottom, from(#f26843), to(#e74a35));
	background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background: -o-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
	border-radius: 50px;
	-webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
	        box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
	border: none;
	cursor: pointer;
}

.button:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
	background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
	background: -o-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
	background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
	-webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
	        box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
	background: -webkit-gradient(linear, left top, left bottom, from(#d84732), to(#e1613e));
	background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
	background: -o-linear-gradient(top, #d84732 0%, #e1613e 100%);
	background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
	-webkit-box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
	        box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
	position: absolute;
	bottom: 23px;
	left: 0;
	z-index: 8;
	font-size: 0;
}

.slider-controls label {
	display: inline-block;
	width: 17px;
	height: 17px;
	margin-right: 8px;
	vertical-align: top;
	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 50%;
	cursor: pointer;
}

.slider-controls label:hover {
	background-color: rgba(248, 247, 244, 0.4);
}

#product-1:checked~.site-wrapper {
	background-color: #849d8f;
	background-image: url("../img/background-1.png");
}

#product-2:checked~.site-wrapper {
	background-color: #8996a6;
	background-image: url("../img/background-2.png");
}

#product-3:checked~.site-wrapper {
	background-color: #9d8b84;
	background-image: url("../img/background-3.png");
}

.slide {
	display: none;
}

#product-1:checked~.site-wrapper #slide1,
#product-2:checked~.site-wrapper #slide2,
#product-3:checked~.site-wrapper #slide3 {
	display: block;
}

#product-1:checked~.site-wrapper label[for="product-1"],
#product-2:checked~.site-wrapper label[for="product-2"],
#product-3:checked~.site-wrapper label[for="product-3"] {
	background-color: #ffffff;
	;
}

.main-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-menu a {
	color: #ffffff;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.main-menu {
	width: 419px;
	margin-top: 13px;
	margin-left: 9px;
	margin-right: 26px;
	font-size: 16px;
	line-height: 18px;
}

.main-menu-item:hover {
	color: #000000;
	background-color: #f8f7f4;
	border-radius: 16px;
}

.main-menu-item:hover .main-menu-link {
	color: #000000;
	border: none;
}

.main-menu-item:active {
	color: #000000;
	background-color: #f8f7f4;
	-webkit-box-shadow: inset 0px 2px 1px 0px #696969;
	        box-shadow: inset 0px 2px 1px 0px #696969;
	border-radius: 16px;
}

.main-menu-item:active a {
	color: #000000;
	border: none;
}

.main-menu-modal {
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	background-color: #f8f7f4;
	-webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
	        box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.main-menu-modal a {
	color: #000000;
}

.main-menu-modal li:hover {
	background-color: #fbded7;
}

.main-menu-modal li:active {
	background-color: #f6b5a5;
}

.main-menu-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.main-menu-modal a {
	display: block;
	border: none;
}

.main-menu-item {
	position: relative;
	padding-top: 7px;
	padding-right: 13px;
	padding-bottom: 9px;
	padding-left: 14px;
	margin-right: 1px;
}

.modal-wrapper {
	position: absolute;
}

.modal-wrapper-card {
	top: 30px;
	left: -5px;
}

.modal-wrapper-search {
	top: 30px;
	right: 0;
}

.modal-wrapper-login {
	top: 30px;
	right: 0;
}

.modal-card {
	display: none;
	position: relative;
	width: 143px;
	margin-top: 10px;
	padding-bottom: 6px;
	border-radius: 5px;
}

.link-modal:hover .modal-card {
	display: block;
	margin-top: 10px;
	padding-bottom: 6px;
	z-index: 2;
}

.modal-card-item:first-child {
	position: relative;
	margin-bottom: 4px;
}

.modal-card-item:first-child .modal-card-link {
	padding-top: 11px;
	padding-bottom: 13px;
	font-weight: 700;
}

.modal-card-item:not(:first-child):not(:last-child) {
	margin-bottom: 3px;
}

.modal-card-link {
	padding-top: 5px;
	padding-bottom: 7px;
	padding-left: 19px;
	font-weight: 400;
}

.modal-card-item:first-child::before {
	content: "";
	position: absolute;
	left: 5%;
	width: 90%;
	bottom: 1px;
	height: 1px;
	background-color: #d1d0ce;
}

.main-menu-modal .modal-card-current:hover,
.main-menu-modal .modal-card-current:active {
	background-color: #d07058;
}

.modal-card-current {
	background-color: #d07058;
}

.modal-card-current .modal-card-link {
	color: #ffffff;
}

.shop-menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 293px;
	margin-top: 9px;
	margin-left: auto;
	padding: 0;
	padding-top: 5px;
	font-size: 14px;
	line-height: 16px;
	list-style: none;
}

.shop-menu-item {
	position: relative;
	display: inline-block;
	background-color: rgba(255, 255, 255, 0.2);
}

.shop-menu-item:not(:last-child) {
	margin-right: 12px;
}

.shop-menu-link {
    display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;    
    
	color: #ffffff;
	vertical-align: top;
}

.shop-menu-link svg {
	margin-right: 5px;
}

.shop-menu-search {
	position: relative;
    padding-top: 7px;
    padding-left: 7px;
    padding-right: 8px;
    padding-bottom: 8px;
	border-radius: 50%;
}

.shop-menu-search svg {
	margin: 0;
}

.shop-menu-login {
	position: relative;
    padding-top: 6px;
    padding-left: 9px;
    padding-bottom: 7px;
    padding-right: 17px;
}

.basket {
	position: relative;
    padding-top: 6px;
    padding-left: 9px;
    padding-bottom: 6px;
    padding-right: 17px;
}

.shop-menu-item:not(.shop-menu-search) {
	border-radius: 16px;
}

.shop-menu-item:hover:not(.basket) {
	background-color: #f8f7f4;
	fill: #000000;
}

.icon-search,
.icon-enter,
.icon-basket {
	fill: #ffffff;
	-webkit-transition: fill 0.3s ease;
	-o-transition: fill 0.3s ease;
	transition: fill 0.3s ease;
}

.shop-menu-item:hover:not(.basket) .icon-search,
.shop-menu-item:hover:not(.basket) .icon-enter {
	fill: #000000;
}

.shop-menu-link:not(.search-link) {
	padding-left: 6px;
}

.shop-menu-item:hover:not(.basket) .shop-menu-link {
	color: #000000;
}

.shop-menu-modal {
	background-color: #f8f7f4;
	-webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
	        box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.modal-search,
.modal-login {
	display: none;
	position: relative;
	z-index: 2;
}

.shop-menu-search:hover .modal-search {
	display: block;
}

.shop-menu-login:hover .modal-login {
	display: block;
}

.modal-search {
	padding-top: 18px;
	padding-bottom: 19px;
	padding-left: 14px;
	padding-right: 31px;
	margin-top: 6px;
	width: 342px;
	font-size: 14px;
	border-radius: 5px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.modal-search form {
	display: block;
}

.modal-search input {
	width: 273px;
	padding-left: 12px;
	padding-top: 10px;
	padding-bottom: 14px;
	padding-right: 24px;
	margin: 1px;
	font-family: inherit;
	font-size: 16px;
	font-weight: 700;
	background-color: #ffffff;
	border: 1px solid #d3d3d2;
	border-radius: 5px;
}

.modal-search input::-webkit-input-placeholder {
	font-weight: 400;
}

.modal-search input::-moz-placeholder {
	font-weight: 400;
}

.modal-search input:-ms-input-placeholder {
	font-weight: 400;
}

.modal-search input:hover {
	border: 2px solid #c7c6c5;
	border-radius: 5px;
	margin: 0;
}

.modal-search input:focus {
	border: 2px solid #8fbdec;
	border-radius: 5px;
	margin: 0;
	outline: 0;
}

.modal-login {
	width: 236px;
	padding: 20px 19px;
	margin-top: 6px;
	border-radius: 5px;
}

.modal-login form {
	font-size: 14px;
}

.modal-login input::-webkit-input-placeholder {
	font-weight: 400;
}

.modal-login input::-moz-placeholder {
	font-weight: 400;
}

.modal-login input:-ms-input-placeholder {
	font-weight: 400;
}

.modal-login input {
	font-family: inherit;
	font-size: 16px;
	font-weight: 700;
	width: 216px;
	padding: 12px 11px;
	margin: 1px;
	margin-bottom: 19px;
	background-color: #ffffff;
	border: 1px solid #d3d3d2;
	border-radius: 5px;
}

.modal-login input:hover {
	margin: 0;
	margin-bottom: 18px;
	border: 2px solid #c7c6c5;
	border-radius: 5px;
}

.modal-login input:focus {
	margin: 0;
	margin-bottom: 18px;
	border: 2px solid #8fbdec;
	border-radius: 5px;
	outline: 0;
}

.modal-login .button {
	padding-top: 10px;
	padding-right: 24px;
	padding-bottom: 10px;
	padding-left: 22px;
	border-radius: 17px;
}

.modal-login p {
	margin: 0;
}

.login-password-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.login-password-info a:first-child {
	margin-bottom: 7px;
}

.login-password-info a {
	font-size: 13px;
	font-weight: 400;
	color: #000000;
	border-bottom: 1px solid #000000;
}

.modal-login-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.modal-login-wrapper .button {
	display: block;
	margin-right: 15px;
}

.time-and-phone {
	font-size: 14px;
	line-height: 16px;
	text-align: right;
}

.time-and-phone p {
	margin: 0;
}

.phone {
	color: #ffffff;
	font-size: 22px;
	line-height: 24px;
}

.banners {
	margin-bottom: 40px;
}

.banners h3 {
	font-size: 35px;
	line-height: 41px;
	padding: 0;
	margin: 0;
}

.banners p {
	font-size: 18px;
	line-height: 22px;
}

.banner {
	width: 560px;
	height: 230px;
}

.banner-raspberries {
	color: #ffffff;
	background-color: #5d1121;
	background-image: url("../img/raspberries.jpg");
	background-repeat: no-repeat;
}

.banner-chocolate {
	color: #ffffff;
	background-color: #42271b;
	background-image: url("../img/chocolate.jpg");
	background-repeat: no-repeat;
}

.banner {
	position: relative;
	width: 560px;
	min-height: 228px;
	padding-top: 16px;
	padding-right: 21px;
	padding-left: 18px;
	font-size: 18px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	border-radius: 15px;
}

.banners h3 {
	font-size: 35px;
	line-height: 41px;
	margin-bottom: 16px;
	margin-top: 0;
}

.banners p {
	margin-top: 0;
	margin-bottom: 12px;
	font-size: 18px;
	line-height: 22px;
}

.banners .button {
	position: absolute;
	right: 20px;
	bottom: 24px;
	padding-top: 10px;
	padding-right: 24px;
	padding-bottom: 12px;
	padding-left: 22px;
	border-radius: 23px;
}

.catalog-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin-bottom: 40px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.catalog ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.catalog a:not(.button) {
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: #ffffff;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.catalog a:hover:not(.button),
.catalog a:active:not(.button) {
	color: #ffbc9e;
	border-bottom: 1px solid #ffbc9e;
}

.product {
	position: relative;
	margin-bottom: 36px;
	z-index: 1;
	width: 267px;
}

.product-hit::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 61px;
	height: 61px;
	z-index: 3;
	background-image: url(../img/hit.svg);
}

.product-image {
	position: relative;
	z-index: 2;
	margin-bottom: 9px;
}

.catalog-item img {
	border-radius: 50%;
}

.product-price {
	position: absolute;
	margin: 0;
	bottom: 12px;
	left: 0;
	z-index: 3;
	font-size: 45px;
	line-height: 45px;
	text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.product-price span {
	font-size: 30px;
}

.ruble {
	margin-top: -7px;
	margin-left: 3px;
	vertical-align: middle;
}

.product h3 {
	position: relative;
	margin: 0;
	z-index: 3;
	width: 258px;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
}

.catalog-item:hover .product-hover {
	opacity: 1;
}

.catalog-item:hover .product {
	z-index: 2;
}

.product-hover {
	position: absolute;
	top: -6px;
	left: -13px;
	z-index: 1;
	opacity: 0;
	padding-top: 11px;
	padding-left: 13px;
	padding-right: 13px;
	width: 100%;
	height: 394px;
	text-align: center;
	background-color: rgba(248, 247, 244, 0.2);
	border-radius: 5px;
	-webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
	        box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.product-hover .button {
	position: absolute;
	bottom: 21px;
	padding-left: 16px;
	padding-right: 17px;
	border-radius: 27px;
	-webkit-transform: translate(-50%, 0);
	    -ms-transform: translate(-50%, 0);
	        transform: translate(-50%, 0);
	white-space: nowrap;
}

.features {
	width: 100%;
	position: relative;
	padding-top: 23px;
	padding-right: 30px;
	padding-left: 20px;
	margin-bottom: 38px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	color: #000000;
	background-color: #e0d4bc;
	background-image: url("../img/waffle.jpg");
	background-position: top center;
	background-repeat: repeat-x;
	border-radius: 15px;
}

.features ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style: none;
}

.features li {
	position: relative;
	width: 540px;
	margin-bottom: 24px;
	padding-left: 57px;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.features .features-title {
	font-size: 24px;
	line-height: 30px;
	;
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 22px;
}

.features-icon {
	position: absolute;
	top: -13px;
	left: 0;
	fill: #323232;
}

.features p {
	margin: 0;
	padding: 0;
}

.new-blog {
	position: relative;
	display: inline-block;
	width: 560px;
	padding-top: 23px;
	padding-right: 20px;
	padding-bottom: 85px;
	padding-left: 19px;
	color: #000000;
	background-color: #ffffff;
	background-image: url("../img/strawberry.jpg");
	background-repeat: no-repeat;
	border-radius: 16px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.new-blog span {
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
}

.new-blog-title {
	margin: 0;
	width: 290px;
}

.new-blog a {
	color: #000000;
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	border-bottom: 2px solid #000000;
}

.dispatch {
	position: relative;
	z-index: 0;
	display: inline-block;
	width: 560px;
	padding-top: 18px;
	padding-right: 24px;
	padding-left: 26px;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: #000000;
	border-radius: 16px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.dispatch::before,
.dispatch::after {
	content: "";
	position: absolute;
}

.dispatch::before {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	background: -webkit-repeating-linear-gradient(135deg, #f8f7f4, #f8f7f4 5px, #92cdff 6px, #92cdff 10px, #fe9e90 11px, #fe9e90 15px);
	background: -o-repeating-linear-gradient(135deg, #f8f7f4, #f8f7f4 5px, #92cdff 6px, #92cdff 10px, #fe9e90 11px, #fe9e90 15px);
	background: repeating-linear-gradient(-45deg, #f8f7f4, #f8f7f4 5px, #92cdff 6px, #92cdff 10px, #fe9e90 11px, #fe9e90 15px);
	border-radius: 15px;
}

.dispatch::after {
	top: 5px;
	right: 5px;
	bottom: 5px;
	left: 6px;
	z-index: -1;
	background-color: #f8f7f4;
	border-radius: 9px;
}

.dispatch-text {
	margin-bottom: 34px;
}

.dispatch input {
	margin: 1px;
	margin-right: 10px;
	padding: 12px 12px;
	width: 342px;
	font-family: inherit;
	font-size: 16px;
	font-weight: 700;
	background-color: #ffffff;
	border: 1px solid #d3d3d2;
	border-radius: 5px;
}

.dispatch input::-webkit-input-placeholder {
	font-weight: 400;
}

.dispatch input::-moz-placeholder {
	font-weight: 400;
}

.dispatch input:-ms-input-placeholder {
	font-weight: 400;
}

.dispatch .button {
	padding: 11px 10px;
	width: 125px
}

.dispatch input:hover {
	margin: 0;
	margin-right: 9px;
	border: 2px solid #c7c6c5;
	border-radius: 5px;
}

.dispatch input:focus {
	margin: 0;
	margin-right: 9px;
	font-family: inherit;
	border: 2px solid #8fbdec;
	border-radius: 5px;
	outline: 0;
}

.map {
	position: relative;
	width: 100%;
	min-height: 429px;
	background-image: url(../img/map.jpg);
}

.contacts-wrapper {
	width: 1146px;
	position: relative;
	margin: 0 auto;
}

.contacts {
	position: absolute;
	top: 62px;
	right: -1px;
	padding-top: 28px;
	padding-right: 24px;
	padding-left: 24px;
	padding-bottom: 30px;
	width: 302px;
	line-height: 21px;
	color: #000000;
	background-color: #fefefe;
	border-radius: 16px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.contacts-text {
	display: block;
	padding: 0;
	margin: 0;
	margin-bottom: 15px;
	font-size: 14px;
	font-weight: 400;
}

.contact-address {
	display: inline-block;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
}

.contact-phone {
	display: inline-block;
	margin-top: 5px;
	font-size: 18px;
	line-height: 22px;
	font-weight: 700;
}

.contacts .button {
	display: inline-block;
	margin-top: 10px;
	padding-top: 8px;
	padding-left: 29px;
}

.contact-phone a {
	color: #000000;
}

.inner-page .footer {
	margin-top: 18px;
}

.inner-page .footer-wrapper {
	border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	padding-bottom: 30px;
}

.footer a {
	color: #ffffff;
}

.footer-social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	font-size: 0;
	width: 267px;
	margin-top: 37px;
	margin-left: 4px;
	margin-right: 151px;
	padding: 0;
	list-style: none;
}

.social-btn {
	position: relative;
	display: block;
	margin-right: 17px;
	font-size: 0;
	border-radius: 50%;
	-webkit-box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
	        box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
}

.social-icon {
	fill: #ffffff;
	fill-opacity: 0.8;
}

.social-btn:hover {
	outline-width: 0;
	border-radius: 50%;
	-webkit-box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.7);
	        box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.7);
}

.social-btn:active {
	outline-width: 0;
	border-radius: 50%;
	-webkit-box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.7);
	        box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.7);
}

.social-btn:hover .social-icon {
	fill-opacity: 1;
}

.social-btn:active .social-icon {
	fill: #e9e9e9;
}

.footer-menu {
	padding: 0;
	margin-top: 31px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width: 360px;
	font-size: 0px;
	font-weight: 400;
	list-style: none;
}

.footer-menu li {
	vertical-align: top;
	min-width: 142px;
	line-height: 16px;
}

.footer-menu b {
	position: relative;
	padding: 0;
}

.footer-menu-link {
	position: relative;
	font-size: 13px;
	line-height: 18px;
	padding: 0;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.heart {
	position: absolute;
	top: 2px;
	left: -22px;
	fill: #ffffff;
}

.footer-copyright {
	width: 189px;
	margin-left: auto;
	margin-top: 17px;
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	text-align: right;
}

.footer-menu a {
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-menu a:hover {
	color: #ffbc9e;
	border-bottom: 1px solid #ffbc9e;
}

.footer-menu-link-bold:hover .heart {
	fill: #ffbc9e;
}

.html-logo-link {
	display: block;
	text-align: left;
}

.footer-copyright .copyright-link {
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-copyright .copyright-link:hover {
	color: #ffbc9e;
	border-bottom: 1px solid #ffbc9e;
}

.footer-copyright p {
	margin: 0;
}

.modal-feedback {
	display: none;
	position: fixed;
	top: 100px;
	left: 409px;
	z-index: 10;
	width: 471px;
	padding-top: 15px;
	padding-left: 24px;
	padding-bottom: 15px;
	padding-right: 24px;
	background-color: #f8f7f4;
	border-radius: 9px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.modal-feedback h2 {
	margin: 0;
	margin-bottom: 19px;
	padding: 0;
	font-size: 24px;
	line-height: 28px;
	color: #000000;
}

.modal-feedback p {
	padding: 0;
	margin: 0;
}

.feedback-form input {
	padding-top: 11px;
	padding-bottom: 12px;
	padding-left: 12px;
	padding-right: 10px;
	margin: 1px;
	margin-bottom: 19px;
	width: 262px;
	font-family: inherit;
	font-size: 16px;
	font-weight: 700;
	background-color: #ffffff;
	border: 1px solid #d3d3d2;
	border-radius: 5px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.modal-feedback input::-webkit-input-placeholder {
	font-weight: 400;
}

.modal-feedback input::-moz-placeholder {
	font-weight: 400;
}

.modal-feedback input:-ms-input-placeholder {
	font-weight: 400;
}

.feedback-form input:hover {
	margin: 0;
	margin-bottom: 18px;
	border: 2px solid #c7c6c5;
	border-radius: 5px;
}

.feedback-form input:focus {
	margin: 0;
	margin-bottom: 18px;
	border: 2px solid #8fbdec;
	border-radius: 5px;
	outline: 0;
}

.modal-feedback-message {
	padding-top: 9px;
	padding-bottom: 8px;
	padding-left: 12px;
	padding-right: 10px;
	margin: 1px;
	margin-bottom: 19px;
	height: 152px;
	width: 100%;
	font-family: inherit;
	font-size: 16px;
	font-weight: 700;
	background-color: #ffffff;
	border: 1px solid #d3d3d2;
	border-radius: 5px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.modal-feedback-message::-webkit-input-placeholder {
	font-weight: 400;
}

.modal-feedback-message::-moz-placeholder {
	font-weight: 400;
}

.modal-feedback-message:-ms-input-placeholder {
	font-weight: 400;
}

.feedback-form .modal-feedback-message:hover {
	margin: 0;
	margin-bottom: 20px;
	border: 2px solid #c7c6c5;
	border-radius: 5px;
}

.feedback-form .modal-feedback-message:focus {
	margin: 0;
	margin-bottom: 20px;
	border: 2px solid #8fbdec;
	border-radius: 5px;
	outline: 0;
}

.modal-button {
	margin-bottom: 11px;
}

.feedback-button-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}

.modal-close {
	position: absolute;
	top: 15px;
	right: 16px;
	width: 18px;
	height: 17px;
	font-size: 0;
	background-color: transparent;
	background-image: url(../img/cross-big.svg);
	border: 0;
	cursor: pointer;
}

.modal-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 9;
}


/*----------------------------------------------*/

.inner-page .catalog {
	margin-bottom: 45px;
}

.main-menu-current {
	color: #ffffff;
	background-color: #d07058;
	padding-top: 7px;
	padding-right: 13px;
	padding-bottom: 9px;
	padding-left: 14px;
	border-radius: 16px;
}

.main-menu-current a {
	border-bottom: none;
}

.main-menu-current:hover {
	background-color: #d07058;
	padding-top: 7px;
	padding-right: 13px;
	padding-bottom: 9px;
	padding-left: 14px;
	border-radius: 16px;
}

.main-menu-current:hover .main-menu-link {
	color: #ffffff;
}

.basket-full {
	font-size: 14px;
	line-height: 16px;
	font-weight: 600;
	color: #000000;
	background-color: #f7f6f3;
}

.basket-full a {
	color: #000000;
}

.modal-wrapper-basket {
	top: 30px;
	right: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.modal-basket p {
	margin: 0;
	padding: 0;
}

.modal-basket-table td {
	display: inline-block;
	padding: 0;
}

.modal-basket-table {
	position: relative;
	padding-bottom: 4px;
	padding-left: 1px;
	padding-top: 2px;
	margin-bottom: 14px;
	border-bottom: 1px solid rgb(202, 202, 199);
}

.modal-basket-table tr {
	display: block;
	margin-bottom: 8px;
}

.modal-basket {
	display: none;
	position: relative;
	margin-top: 6px;
	padding-top: 13px;
	padding-right: 13px;
	padding-bottom: 21px;
	padding-left: 13px;
	z-index: 2;
	width: 514px;
	font-size: 13px;
	line-height: 16px;
	font-weight: 400;
	color: #000000;
	border-radius: 5px;
}

.modal-basket a {
	color: #ffffff;
}

.basket-full:hover .modal-basket {
	display: block;
	z-index: 2;
}

.button-delete {
	margin-bottom: 9px;
	margin-right: 10px;
}

.basket-product {
	margin-right: 9px;
}

.basket-product a {
	display: block;
}

.basket-product-name {
	width: 232px;
	margin-right: 12px;
}

.basket-product-quantity {
	margin-right: 25px;
}

.modal-basket img {
	border-radius: 50%;
}

.modal-basket h2 {
	font-size: 13px;
	line-height: 16px;
	font-weight: 400;
}

.basket-product-price {
	color: #999999;
}

.modal-basket .total {
	text-align: right;
	margin-bottom: 14px;
	font-size: 15px;
	line-height: 18px;
}

.modal-basket-close {
	position: relative;
	width: 11px;
	height: 11px;
	font-size: 0;
	background-color: transparent;
	background-image: url(../img/cross-small.svg);
	border: 0;
	cursor: pointer;
}

.basket-button-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}

.modal-basket .button {
	padding: 10px 15px;
	border-radius: 15px;
}

.breadcrumbs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin: 0;
	margin-bottom: 2px;
	padding: 0;
	width: 267px;
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	list-style: none;
}

.breadcrumbs-item {
	position: relative;
	display: inline-block;
	vertical-align: middle;
}

.breadcrumbs-item:not(:last-child) {
	padding-right: 14px;
	margin-right: 8px;
}

.breadcrumbs-item:not(:last-child)::after {
	content: "»";
	position: absolute;
	top: 0;
	right: 0;
	font-size: 14px;
	color: #ffffff;
}

.breadcrumbs a {
	color: #ffffff;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.breadcrumbs a:hover {
	color: #ffbc9e;
	border-bottom: 1px solid #ffbc9e;
}

.filters {
	margin-bottom: 23px;
}

.filter {
	font-size: 0;
}

.filter-item {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	margin-right: 17px;
	margin-bottom: 17px;
	margin-left: 0;
	padding: 0;
	border: none;
}

.filter-item-title {
	margin-left: 15px;
	margin-bottom: 7px;
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
}

.select-item {
	padding-top: 6px;
	padding-right: 32px;
	padding-bottom: 8px;
	padding-left: 15px;
	font-weight: 600;
	color: #ffffff;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 18px;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.filter select:hover {
	color: #000000;
}

.select {
	position: relative;
}

.select::before {
	content: "";
	position: absolute;
	right: 14px;
	top: 12px;
	width: 11px;
	height: 15px;
	background-image: url(../img/icon-down-dir-light.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
	cursor: pointer;
}

.select:hover::before {
	background-image: url(../img/icon-down-dir-dark.svg);
}

.range-price {
	padding: 0;
	margin: 0;
	margin-left: 13px;
	margin-bottom: 7px;
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
}

.range {
	padding: 15px 21px;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 18px;
}

.range-line {
	position: relative;
	height: 4px;
	width: 174px;
	background-color: rgba(255, 255, 255, 0.5);
}

.range-value {
	position: absolute;
	top: 0;
	left: 17px;
	;
	height: 4px;
	width: 60%;
	background-color: #ffffff;
}

.range-button {
	position: absolute;
	top: -9px;
	width: 20px;
	height: 22px;
	padding: 0;
	background-color: transparent;
	background-image: url(../img/filter-button.svg);
	background-repeat: no-repeat;
	border: 0;
	cursor: pointer;
}

.range-button-left {
	left: 12px;
}

.range-button-right {
	right: 44px;
}

.filter ul {
	font-weight: 600;
	list-style: none;
}

.filter-list-wrapper ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.filter-radio {
	margin: 0;
	padding-top: 8px;
	padding-right: 18px;
	padding-bottom: 7px;
	padding-left: 13px;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 18px;
}

.filter-radio-item {
	font-weight: 600;
}

.filter-radio-item:not(:last-child) {
	margin-right: 19px;
}

.label-radio {
	position: relative;
	display: block;
	padding-left: 30px;
	cursor: pointer;
}

.filter-input-radio+label::before {
	content: "";
	position: absolute;
	top: -2px;
	left: 0;
	width: 16px;
	height: 16px;
	border: 3px solid #ffffff;
	opacity: 0.8;
	border-radius: 50%;
}

.filter-input-radio:checked+label::after {
	content: "";
	position: absolute;
	top: 5px;
	left: 7px;
	width: 8px;
	height: 8px;
	background-color: #ffffff;
	opacity: 0.8;
	border-radius: 50%;
}

.filter-input-radio:not(:disabled)+label:hover::before,
.filter-input-radio:not(:disabled)+label:hover::after {
	opacity: 1.0;
}

.filter-input-radio:disabled+label::before,
.filter-input-radio:disabled+label::after {
	opacity: 0.4;
}

.filter-checkbox {
	margin: 0;
	margin-right: -4px;
	padding-top: 7px;
	padding-right: 19px;
	padding-bottom: 10px;
	padding-left: 15px;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 18px;
}

.label-checkbox {
	position: relative;
	display: block;
	padding-left: 32px;
	cursor: pointer;
}

.filter-input-ckeckbox+label::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 23px;
	height: 23px;
	background-image: url(../img/checkbox-off.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.8;
}

.filter-input-ckeckbox:checked+label::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
	height: 23px;
	background-image: url(../img/checkbox-on.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.8;
}

.filter-input-ckeckbox:not(:disabled)+label:hover::before {
	opacity: 1.0;
}

.filter-input-ckeckbox:disabled+label::before {
	opacity: 0.4;
}

.filter-checkbox-item {
	font-weight: 600;
}

.filter-checkbox-item:not(:last-child) {
	margin-right: 21px;
}

.filtres-button {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	padding-top: 8px;
	padding-right: 28px;
	padding-bottom: 7px;
	padding-left: 26px;
	margin-top: 22px;
	color: #ffffff;
	background-color: rgba(255, 255, 255, 0.2);
	border: 2px solid #ffffff;
	border-radius: 18px;
}

.filtres-button:hover {
	color: #000000;
	background-color: #fbfcfb;
}

.filtres-button:active {
	color: #000000;
	background-color: #eaeaea;
	-webkit-box-shadow: inset 0px 2px 1px 0px #8a8b8a;
	        box-shadow: inset 0px 2px 1px 0px #8a8b8a;
}

.pagination-list {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: 0;
	padding: 0;
	text-align: right;
	margin-bottom: 32px;
	color: #ffffff;
	list-style: none;
}

.pagination-item {
	display: inline-block;
	vertical-align: middle;
	margin-right: 3px;
}

.pagination-item:last-child {
	margin-right: 0;
}

.pagination-item:nth-last-child(2) {
	margin-right: 16px;
}

.pagination-item:first-child {
	margin-right: 15px;
}

.pagination-link {
	display: block;
	padding-top: 5px;
	padding-bottom: 3px;
	width: 26px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	text-align: center;
	color: #ffffff;
	border-radius: 50%;
}

.pagination-button {
	display: block;
	width: 9px;
	height: 14px;
}

.pagination-list .pagination-link:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

.pagination-list .pagination-link:active {
	color: #000000;
	background-color: #ffffff;
}

.pagination-item-current .pagination-link {
	color: #000000;
	background-color: #ffffff;
}

.pagination-item-current .pagination-link:hover {
	color: #000000;
	background-color: #ffffff;
}

.pagination-icon {
	fill: #ffffff;
}

.back {
	-webkit-transform: scale(-1, 1);
	    -ms-transform: scale(-1, 1);
	        transform: scale(-1, 1);
}

.disabled .pagination-icon {
	fill: rgba(255, 255, 255, 0.2);
}